PARAMS_ENV = dev
#only used for migrations
DB_HOST=localhost
DB_USERNAME=henglint
DB_PASSWORD=ZX7O]qi)Dn0&&6!I
DB_DATABASE=laurieslove
DB_PORT=4500
FORWARD_DB_PORT=4500
## Cognito  pool ##
COGNITO_USER_POOL_ID=us-east-1_K3nWoTP66
COGNITO_CLIENT_ID=63h6q1t2hg6bfgr8pbc3aoo1r4
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
